# Python
__pycache__
dist
build

# IntelliJ
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Gradle
.gradle
build

#conda
.conda

#coverage
*coverage*
./pytest.xml

*my-pdp-project*
tests/test_project

*ci-tools/*