# Binaries for programs and plugins
*.exe
*.exe~
build/*

# Go workspace file
go.work

# Test binary and output of the go coverage tool
*.test
*.out

# IntelliJ
.idea/
.idea_modules/
*.iml
*.ipr
*.iws