name: Prepare Hotfix

on:
  workflow_dispatch:
  push:
    branches:
      - POC/PDP-1375-TEST

env:
  GITHUB_PACKAGE_REGISTRY_USER: ${{ secrets.CI_USER }}
  GITHUB_PACKAGE_REGISTRY_API_KEY: ${{ secrets.CI_TOKEN }}
  CI_SIGNING_KEY: ${{ secrets.CI_SIGNING_KEY }}

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          #./gradlew ciTools
          chmod -R +x ci-tools

  #      - name: Validate branch
  #        run: ci-tools/validate-hotfix-branch.sh -t "${{ github.ref_type }}"

  version:
    needs: validate
    runs-on: ubuntu-latest
    outputs:
      hotfix-version: ${{ steps.define-version.outputs.hotfix-version }}
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          #./gradlew ciTools
          chmod -R +x ci-tools

      - name: Define version
        id: define-version
        run: ci-tools/find-next-hotfix.sh

  branch:
    needs: version
    runs-on: ubuntu-latest
    outputs:
      branch-name: ${{ steps.hotfix-branch.outputs.branch-name }}
      branch-heads: ${{ steps.hotfix-branch.outputs.branch-heads }}
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          #./gradlew ciTools
          chmod -R +x ci-tools

      - name: Define release branch
        id: hotfix-branch
        run: ci-tools/find-branch.sh -b "htfx/${{ needs.version.outputs.hotfix-version }}" #TODO: Change htfx to hotfix

      - name: Create branch for the hotfix
        if: ${{ steps.hotfix-branch.outputs.branch-heads == 0 }}
        run: |
          ci-tools/hotfix-branch.sh \
            -b "${{ steps.hotfix-branch.outputs.branch-name }}" \
            -v "${{ needs.version.outputs.hotfix-version }}"

      - name: Bump Version
        id: bump-version
        run: ci-tools/bump-version.sh

      - name: Commit Version
        run: |
          ci-tools/commit-version-bump.sh \
            -o "${{ steps.bump-version.outputs.old-version }}" \
            -n "${{ steps.bump-version.outputs.new-version }}"
