name: Prepare Release Candidate (TEST)

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Release Type'
        required: true
        default: 'minor'
        type: choice
        options:
          - major
          - minor
      close-release:
        description: 'Check if the release candidate should be tagged to close'
        required: false
        type: boolean
        default: false

  push:
    branches:
      - feature/PDP-1368

env:
  GITHUB_PACKAGE_REGISTRY_USER: ${{ secrets.CI_USER }}
  GITHUB_PACKAGE_REGISTRY_API_KEY: ${{ secrets.CI_TOKEN }}
  CI_SIGNING_KEY: ${{ secrets.CI_SIGNING_KEY }}

jobs:
  #  validate:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - name: Checkout code
  #        uses: actions/checkout@v3
  #
  #      - name: Set up JDK 17
  #        uses: actions/setup-java@v3
  #        with:
  #          distribution: 'temurin'
  #          java-version: '17'
  #
  #      - name: Set execution permissions
  #        run: |
  #          chmod +x ./gradlew
  #          ./gradlew ciTools
  #          chmod -R +x ci-tools
  #
  #      - name: Validate branch
  #        run: ci-tools/validate-release-candidate-branch.sh

  version:
    #    needs: validate
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.define-version.outputs.release-version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          #                chmod +x ./gradlew
          #                ./gradlew ciTools
               chmod -R +x ci-tools

      - name: Define version
        id: define-version
        run: ci-tools/find-next-release.sh -t "minor"

  branch:
    needs: version
    runs-on: ubuntu-latest
    outputs:
      branch-name: ${{ steps.release-branch.outputs.branch-name }}
      branch-heads: ${{ steps.release-branch.outputs.branch-heads }}
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod -R +x ci-tools

      - name: Define release branch
        id: release-branch
        run: ci-tools/find-branch.sh -b "rls/${{ needs.version.outputs.release-version }}"

      - name: Create branch for the release
        if: ${{ steps.release-branch.outputs.branch-heads == 0 }}
        run: |
          ci-tools/release-candidate-branch.sh \
            -b "${{ steps.release-branch.outputs.branch-name }}" \
            -v "${{ needs.version.outputs.release-version }}"

      - name: Mark to close
        if: ${{ github.event.inputs.close-release == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: ci-tools/release-candidate-ready.sh -b "${{ steps.release-branch.outputs.branch-name }}"

  pull-request:
    needs:
      - version
      - branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.branch.outputs.branch-name }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod -R +x ci-tools

      - name: Create pull request
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          ci-tools/release-candidate-pull-request.sh \
            -b ${{ needs.branch.outputs.branch-name }} \
            -v ${{ needs.version.outputs.release-version }} \
            -t minor

  bump-base:
    if: ${{ github.event.inputs.release-type != 'major' && needs.branch.outputs.branch-heads == 0 }}
    needs:
      - version
      - branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod -R +x ci-tools

      - name: Bump Version
        id: bump-version
        run: ci-tools/set-version.sh -c -v "${{ needs.version.outputs.release-version }}"
