name: Release

on:
  #  pull_request:
  #    types:
  #      - closed
  #    branches: [ main, master, release* ]
  workflow_dispatch:
  push:
    branches:
      - feature/PDP-1368

concurrency:
  group: release

env:
  GITHUB_PACKAGE_REGISTRY_USER: ${{ secrets.CI_USER }}
  GITHUB_PACKAGE_REGISTRY_API_KEY: ${{ secrets.CI_TOKEN }}
  CI_SIGNING_KEY: ${{ secrets.CI_SIGNING_KEY }}

jobs:
  version:
    #    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      release-version: ${{ steps.define-version.outputs.release-version }}
      release-type: ${{ steps.define-version.outputs.release-type }}
      trigger-dependencies: ${{ steps.downstream-trigger.outputs.trigger-dependencies }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          ./gradlew ciTools
          chmod -R +x ci-tools

      - name: Define version
        id: define-version
        run: |
          ./gradlew -Dversion.prerelease="" -Dversion.buildmeta=""
          
          releaseVersion=$(ci-tools/read-version.sh)
          echo "Configuring version for Release ${releaseVersion}"
          echo "release-version=${releaseVersion}" >> $GITHUB_OUTPUT
          
          if [[ ${{ contains(github.event.pull_request.labels.*.name, 'release:major') }} == true ]]; then
            echo "release-type=major" >> $GITHUB_OUTPUT
          elif [[ ${{ contains(github.event.pull_request.labels.*.name, 'release:minor') }} == true ]]; then
            echo "release-type=minor" >> $GITHUB_OUTPUT
          fi

      - name: Define downstream trigger
        id: downstream-trigger
        run: |
          if [[ ${{ contains(github.event.pull_request.labels.*.name, 'release:major') }} == true ]]; then
            echo "trigger-dependencies=major" >> $GITHUB_OUTPUT
          elif [[ ${{ contains(github.event.pull_request.labels.*.name, 'release:minor') }} == true ]]; then
            echo "trigger-dependencies=minor" >> $GITHUB_OUTPUT
          fi

  validate:
    #    if: github.event.pull_request.merged == true
    needs: version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          ./gradlew ciTools
          chmod -R +x ci-tools

      - name: Validate release number
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: ci-tools/validate-release-version.sh -v ${{ needs.version.outputs.release-version }}

  windows-build:
    #    if: github.event.pull_request.merged == true
    needs:
      - validate
      - version
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Create the PDP Banner for the CLI
        run: .\gradlew banner

      - name: Build executable with pyinstaller
        run: |
          pyinstaller `
            ./src/pdp.py `
            --collect-all yaspin -y `
            --add-data "src/templates;templates" `
            --add-data "build/resources/main/micronaut-banner.txt;."

      - name: Zip dist folder
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          filename: 'windows-pdp.zip'
          directory: './dist'
          path: './pdp'

      - name: Shows the CLI binaries
        run: |
          dir ./dist

      - uses: actions/upload-artifact@master
        with:
          name: cli-windows-binaries
          path: ./dist/windows-pdp.zip


  linux-build:
    #    if: github.event.pull_request.merged == true
    needs:
      - validate
      - version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          ./gradlew ciTools
          chmod -R +x ci-tools

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Create the PDP Banner for the CLI
        run: ./gradlew banner

      - name: Build executable with pyinstaller
        run: |
          pyinstaller \
            ./src/pdp.py \
            --collect-all yaspin -y \
            --add-data "src/templates:templates" \
            --add-data "build/resources/main/micronaut-banner.txt:."

      - name: Zip dist folder
        run: |
          cd ./dist/
          zip -rq ./linux-pdp.zip ./pdp

      - uses: actions/upload-artifact@master
        with:
          name: cli-linux-binaries
          path: ./dist/linux-pdp.zip

  tag-release:
    #    if: github.event.pull_request.merged == true
    needs:
      - linux-build
      - windows-build
      - version
    runs-on: ubuntu-latest
    outputs:
      branch-ref: ${{ steps.commit-version.outputs.branch-ref }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          ./gradlew ciTools
          chmod -R +x ci-tools

      - name: Commit version
        id: commit-version
        run: |
          ./ci-tools/commit-release-version.sh -v ${{ needs.version.outputs.release-version }}

      - name: Find commits
        id: find-commits
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          latestRelease=`ci-tools/find-latest-release.sh`
          echo "from-commit=$(ci-tools/find-bump-commit.sh -b develop -v ${latestRelease})" >> $GITHUB_OUTPUT
          echo "to-commit=$(ci-tools/find-bump-commit.sh -b develop -v ${{ needs.version.outputs.release-version }})" >> $GITHUB_OUTPUT

      - name: Release Notes
        id: release-notes
        uses: mikepenz/release-changelog-builder-action@v3.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        with:
          configuration: "ci-tools/release-notes.json"
          toTag: cfcaeee27ee9ffab9cae7153e5699963ac6c1b81

      - name: Tag and publish the release
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          ci-tools/publish-release.sh \
            -v "${{ needs.version.outputs.release-version }}" \
            -n "${{ steps.release-notes.outputs.changelog }}"

      - name: Downloading linux binaries
        uses: actions/download-artifact@master
        with:
          name: cli-linux-binaries
          path: ./dist

      - name: Downloading windows binaries
        uses: actions/download-artifact@master
        with:
          name: cli-windows-binaries
          path: ./dist

      - name: Upload binaries
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          gh release upload ${{ needs.version.outputs.release-version }} ./dist/windows-pdp.zip
          gh release upload ${{ needs.version.outputs.release-version }} ./dist/linux-pdp.zip
  

  merge-to-develop:
    #    if: github.event.pull_request.merged == true
    needs:
      - version
      - linux-build
      - windows-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_TOKEN }}

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set execution permissions
        run: |
          chmod +x ./gradlew
          ./gradlew ciTools
          chmod -R +x ci-tools

      - name: Bump base branch
        if: ${{ needs.version.outputs.release-type == 'major' }}
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          . ci-tools/config-branches.sh
          ci-tools/set-version.sh -c -b "${DEVELOP_BRANCH}" -v "${{ needs.version.outputs.release-version }}"

      - name: Create PR with changes
        env:
          GITHUB_TOKEN: ${{ secrets.CI_TOKEN }}
        run: |
          . ci-tools/config-branches.sh
          ci-tools/merge-pull-request.sh \
            -s "${MAIN_BRANCH}" \
            -t "${DEVELOP_BRANCH}" \
            -i "${{ github.run_id }}"